<!DOCTYPE html>
<html ng-app="clog">
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.4.1/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/chjj/marked/v0.3.3/lib/marked.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/Hypercubed/angular-marked/v0.0.16/angular-marked.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>clog</title>
</head>

    <div class="site-wrapper" ng-controller="AppController as app">
        <h1 class="clog-logo">clog</h1>

        <form class="wrapper--centered generate-form" ng-submit="app.submitForm(app.clogData)">
            <input  class="text-box--big"
                    ng-model="app.clogData.repository"
                    type="input"
                    name="repository"
                    placeholder="angular/angular">

            <button class="generate-form__button">&#9881;</button>
        </form>

        <div ng-if="app.isLoading" class="loader">Loading...</div>

        <div class="wrapper--centered error-box state--error" ng-if="app.result.error">
            {{ app.result.error }}
        </div>

        <div class="wrapper--centered" marked="app.result.changelog"></div>
    </div>
</html>
